.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 33%;
  margin: 50px auto;

  -moz-user-select: none;
  user-select: none;
}

.key {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border: 1px solid green;
  color: white;
  background: linear-gradient(silver, darkgreen);
}

kbd {
  font-size: 45pt;
}

.active {
  transform: scale(1.2, 1.2);
}
